
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

#loading-container {
  position: fixed;
  inset: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #000000BF;
  border-radius: 4px;
  transition: opacity 0.5s;
  opacity: 1;

  &.hidden {
    opacity: 0;
  }
}

#centered {
  width: 60px;
  height: 60px;

  display: flex;
  justify-content: center;
  align-items: center;
}

$ring-width: 9px;

.loader {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 6rem;
  margin-top: 3rem;
  margin-bottom: 3rem;

  &:before,
  &:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    animation: pulsOut 1.5s -0.75s ease-in-out infinite;
    filter: drop-shadow(0 0 $ring-width rgba(255, 255, 255, 0.85));
  }

  &:before {
    width: 100%;
    padding-bottom: 100%;
    animation-name: pulsIn;
  }

  &:after {
    width: calc(100% - #{$ring-width * 2});
    padding-bottom: calc(100% - #{$ring-width * 2});
  }
}

@keyframes pulsIn {
  0% {
    box-shadow: inset 0 0 0 $ring-width #fff;
    opacity: 1;
  }

  50%, 100% {
    box-shadow: inset 0 0 0 0 #fff;
    opacity: 0;
  }
}

@keyframes pulsOut {
  0%, 50% {
    box-shadow: 0 0 0 0 #fff;
    opacity: 0;
  }

  100% {
    box-shadow: 0 0 0 $ring-width #fff;
    opacity: 1;
  }
}