.item {
	width: calc(100vw - 30px);
	height: 40px;
	margin: 0;
	border: 0;
	padding: 0 15px;
	font-size: 16px;
	background-color: #333;
	color: #ccc;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	white-space: nowrap;
	user-select: none;
}

.item.selected {
	background-color: #3e3e3e;
}

.item:hover {
	cursor: pointer;
	background-color: #444;
}
