.item {
	overflow: hidden;
	height: 40px;
	margin: 0;
	border: 0;
	padding: 0 15px;
	font-size: 16px;
	background-color: #333;
	color: #ccc;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	white-space: nowrap;
	user-select: none;
}

.item.selected {
	background-color: #3e3e3e;
}

.item:not(.arguments):hover {
	cursor: pointer;
	background-color: #444;
}

.item.arguments span:after {
	content: '+';
    opacity: 0.4;
    font-weight: bold;
    font-size: 31px;
    vertical-align: middle;
    margin-left: 6px;
}
