$background: var(--background, #333);
$selectedBackground: var(--selected, #4a4a4a);

.item {
  overflow: hidden;
  height: 40px;
  margin: 0;
  border: 0;
  padding: 0 15px;
  font-size: 16px;
  background-color: $background;
  color: #ccc;
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  user-select: none;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: center;
}

.item.selected {
  background-color: $selectedBackground;
}

.item:not(.selected):hover {
  cursor: pointer;
  background-color: #3e3e3e;
}

.item.arguments span:after {
  content: '...';
  opacity: 0.25;
  font-weight: bold;
  font-size: 1.2em;
  vertical-align: middle;
  margin-left: 4px;
}

.item .item-line > * {
  vertical-align: middle;
}

.item .icon {
  display: inline-flex;
  margin-right: 15px;
  width: 32px;
  justify-content: center;
}

.item .icon img {
  max-width: 32px;
}

.item .title {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
}

.item .subtitle {
  font-size: 0.75em;
  color: gray;
}