$inputHeight: var(--input-height, 50px);
$radius: var(--radius, 6px);
$background: var(--background, #333);
$iconColor: var(--icon-color, $background);

#launcher-input {
  background-color: $background;
  border-radius: $radius;
  
  border: 0;
  height: $inputHeight;
  background-color: $iconColor;
  overflow: hidden;

  > div {
    position: fixed;
    height: $inputHeight;

    display: flex;
    align-items: center;

    border-radius: $radius;
    overflow: hidden;
  }
}

.itemed #launcher-input {
  border-radius: $radius $radius 0 0;
  border-bottom: 1px solid #5a5a5a;
  z-index: 1;

  > div {
    border-radius: $radius $radius 0 0;
  }
}

#launcher-input .icon {
  display: flex;
  align-items: center;
  padding: 0 10px;
  height: $inputHeight;
  background-color: $iconColor;
}

#launcher-input .icon img {
  width: 32px;
}

#launcher-input input {
  display: inline-block;
  vertical-align: middle;
  width: calc(100vw - 82px);
  height: 100%;
  margin: 0;
  padding: 0 15px;
  font-size: 20px;

  background-color: $background;
  color: #efefef;
  border: 0;
}
