#launcher-input input {
	width: calc(100vw - 30px);
	height: 50px;
	margin: 0;
	border: 0;
	padding: 0 15px;
	font-size: 20px;
	border-radius: 6px;

	background-color: #333;
	color: #efefef;
}

#launcher-input input:focus {
	outline-width: 0;
}
